:root {
  --primary: #019875;
  --secondary: #F9EDEB;
  --negative: #EF4444;
  --positive: #10B981;
  --tertiary: #6B7280;
  --accent: #FF6C5F;
  --dark-bg: #1A202C;
  --dark-text: #E2E8F0;
  --purple: #7C3AED;
}